<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.1/phpunit.xsd" colors="true" beStrictAboutTestsThatDoNotTestAnything="true" beStrictAboutOutputDuringTests="true" cacheDirectory=".phpunit.cache">
  <coverage includeUncoveredFiles="true">
    <report>
      <text outputFile="php://stdout"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="funiQ\geoPHP tests">
      <directory>tests/unit/Geometry</directory>
    </testsuite>
  </testsuites>
  <logging>
    <!--<log type="coverage-html" target="build/coverage" />-->
    <!--<log type="coverage-clover" target="build/logs/clover.xml" />-->
  </logging>
  <source>
    <include>
      <directory>src/</directory>
    </include>
  </source>
</phpunit>
